/* GLOBAL */
:root {
    --striking-color: #7ac751;
    --general-color: #fff;
    --heading-color: #555;
    --paragraph-color: #757575;
}

html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Rubik", "Arial", sans-serif;
    color: var(--paragraph-color);
    background-color: var(--general-color);
    font-size: 16px;
    font-weight: 400;
}

img {
    max-width: 100%;
    height: auto;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 1270px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN-CONTENT */
.main-content {
    flex-grow: 1;
}

/* SECTION-HEADING */
.section-heading {
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    text-transform: uppercase;
    color: var(--heading-color);
}


/* SITE-TESTIMONIALS */
.testimonials {
    padding-bottom: 120px;
}

.testimonials-heading {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
}

.testimonials-content-wrapper {
    background: url("../img/testimonials-navigation-left.svg") no-repeat left 68px center,
    url("../img/testimonials-navigation-right.svg") no-repeat right 68px center;
}

.testimonials-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 820px;
    padding: 80px 125px 50px 125px;
    background-color: #f8fafb;
    border-radius: 8px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
}

.testimonials-img {
    width: 88px;
    height: 88px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 44px;
}

.testimonials-paragraph {
    margin-top: 0;
    margin-bottom: 32px;
    line-height: 1.5;
    color: #515151;
}

.testimonials-title {
    margin-top: 0;
    margin-bottom: 8px;
    color: var(--heading-color);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
}

.testimonials-subtitle {
    color: #515151;
    display: inline-block;
}


/* SITE-BLOG */
.blog {
    padding-bottom: 120px;
}

.blog-heading {
    margin-top: 0;
    margin-bottom: 60px;
    text-align: center;
}

.blog-card-list {
    margin: 0;
    margin-left: -26px;
    margin-bottom: -22px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.blog-card-item-one,
.blog-card-item-two,
.blog-card-item-three,
.blog-card-item-four {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.blog-card-item-one {
    background-image: url("../img/minimal-sofa.jpeg");
}

.blog-card-item-two {
    background-image: url("../img/computer-table.jpeg");
}

.blog-card-item-three {
    background-image: url("../img/modern-bench.jpeg");
}

.blog-card-item-four {
    background-image: url("../img/summer-chair.jpeg");
}

.blog-card-item {
    width: 572px;
    margin-left: 26px;
    margin-bottom: 22px;
    border-radius: 8px;
}

.blog-card-content {
    padding-top: 252px;
    padding-bottom: 30px;
    margin-left: 45px;
}

.blog-card-date {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.blog-card-date-img {
    margin-right: 10px;
    padding: 5px;
    border-radius: 3px;
    color: var(--striking-color);
    background-color: #f8fafb;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.blog-card-date-img::before {
    content: "";
    width: 13px;
    height: 13px;
    margin-right: 3px;
    display: block;
    background-image: url("../img/shopping-icon.svg");
}

.blog-card-date-text {
    font-size: 14px;
    line-height: 1.3;
    color: var(--general-color);
    display: inline-block;
}

.blog-card-title {
    margin: 0;
    font-size: 40px;
    margin-bottom: 15px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--general-color);
}

.blog-card-subtitle {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3;
    color: var(--general-color);
    display: inline-block;
}


/* SITE-FOOTER */
.site-footer {
    padding-bottom: 10px;
}

.footer-about {
    display: flex;
    align-items: flex-start;
}

/* FOOTER-SOCIAL */
.footer-social {
    width: 320px;
}

/* FOOTER-LOGO */
.footer-logo {
    margin-bottom: 15px;
    display: block;
}

.footer-logo-img {
    display: block;
}

.footer-social {
    margin-right: 85px;
}

.footer-about-description {
    line-height: 32px;
    margin-bottom: 8px;
}

.footer-social-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-social-item:not(:last-child) {
    margin-right: 15px;
}

.footer-social-item {
    list-style: none;
}

.footer-social-link {
    text-decoration: none;
}

.footer-social-icon {
    width: 32.5px;
    height: 32.5px;
    display: block;
}

/* FOOTER-LINKS */
.footer-links {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
}

.footer-links-list {
    padding: 0;
    margin: 0;
}

.footer-links-item {
    list-style: none;
}

.footer-links-item:first-child {
    font-weight: 500;
}

.footer-links-link {
    color: var(--heading-color);
    font-size: 18px;
    line-height: 40px;
    text-decoration: none;
    transition: color 0.5s ease;
}

.footer-links-link:hover {
    color: var(--striking-color);
}

/* FOOTER-LINE */
.footer-line {
    height: 1px;
    border: 0;
    margin-top: 50px;
    margin-bottom: 35px;
    background-color: #969696;
}

/* FOOTER-AUTHORSHIP  */
.footer-authorship {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.the-author span,
.the-support-link {
    font-size: 14px;
    color: var(--heading-color);
}

.the-support-list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.the-support-item {
    list-style: none;
}

.the-support-item:not(:last-child) {
    margin-right: 50px;
}

.the-support-link {
    text-decoration: none;
}

/* RETINA BG */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .blog-card-item-one {
        background-image: url("../img/minimal-sofa@2x.jpeg");
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .blog-card-item-two {
        background-image: url("../img/computer-table@2x.jpeg");
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .blog-card-item-three {
        background-image: url("../img/modern-bench@2x.jpeg");
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .blog-card-item-four {
        background-image: url("../img/summer-chair@2x.jpeg");
    }
}