/* GLOBAL */
:root {
    --striking-color: #7ac751;
    --general-color: #fff;
    --heading-color: #555;
    --paragraph-color: #757575;
    --font-family-rubik: "Rubik", "Arial", sans-serif;
    --font-family-mulish: "Mulish", "Arial", sans-serif;
    --font-family-dm: "DM Sans", "Arial", sans-serif;
}

html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-rubik);
    color: var(--paragraph-color);
    background-color: var(--general-color);
    font-size: 16px;
    font-weight: 400;
}

img {
    max-width: 100%;
    height: auto;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 1270px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* SITE-BUTTON */
.button {
    text-transform: uppercase;
    border-radius: 2px;
    border: 0;
    display: block;
    color: #fff;
    background-color: var(--striking-color);
}

/* MAIN-CONTENT */
.main-content {
    flex-grow: 1;
}

/* SECTION-HEADING */
.section-heading {
    font-family: var(--font-family-mulish);
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    text-transform: uppercase;
    color: var(--heading-color);
}


/* HERO-SECTION */
.hero {
    padding-bottom: 50px;
}

.hero-content {
    width: 899px;
    background-color: #f2faff;
    padding: 65px 22px 28px 65px;
    margin-left: auto;
}

/* HERO-BTN-GROUP */
.hero-btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-btn-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(122, 199, 81, 0.29);
}

.hero-btn-circle:not(:last-child) {
    margin-right: 15px;
}

.hero-btn-active {
    width: 24px;
    height: 9px;
    border-radius: 50px;
    background-color: var(--striking-color);
}

.hero-wrapper {
    display: flex;
    justify-content: center;
}

.hero-subtitle {
    text-transform: uppercase;
    color: var(--striking-color);
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 6px;
    display: inline-block;
}

.hero-heading {
    font-weight: 500;
    font-size: 40px;
    color: #2f2f2f;
    margin-top: 0;
    margin-bottom: 27px;
}

.furniture-shape {
    background-image: url("../img/furniture-shape.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
}

.hero-paragraph {
    font-family: var(--font-family-mulish);
    font-weight: 600;
    font-size: 27px;
    line-height: 26px;
    color: rgba(81, 81, 81, 0.7);
    margin-top: 0;
    margin-bottom: 35px;
}
.hero-button {
    font-family: var(--font-family-mulish);
    padding: 10px 18px;
    font-weight: 700;
    font-size: 16px;
}

.hero-main-img {
    width: 374px;
    height: 374px;
}

.hero-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-img {
    width: 98px;
    padding: 5px 25px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-img:not(:last-child) {
    margin-bottom: 25px;
}

.hero-img-price {
    line-height: 26px;
    color: var(--striking-color);
    font-size: 13px;
    font-weight: 500;
}

.price-badge {
    font-size: 8px;
    display: inline-block;
}

.hero-img-text {
    display: inline-block;
    font-size: 7px;
    font-weight: 500;
    text-align: center;
}


/* FEATURES-SECTION */
.features {
    padding-bottom: 70px;
}

.features-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.features-item {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.features-item:not(:last-child) {
    margin-right: 106px;
}

.features-item-svg {
    margin-right: 15px;
    width: 58px;
    height: 58px;
}

.features-item-svg:hover {
    color: #00b7f1;
}

.features-item-text div {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: var(--heading-color);
    text-transform: capitalize;
    margin-bottom: 3px;
}

.features-item-text span {
    font-size: 14px;
    line-height: 26px;
    color: rgba(81, 81, 81, 0.7);
}


/* PROFFER-SECTION */
.proffer {
    padding-bottom: 120px;
}

.proffer-content {
    display: flex;
}

.proffer-basic {
    width: 668px;
    padding: 50px 30px 350px;
    margin-right: 15px;
    background-image: url("../img/furniture-collections.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.proffer-main-heading {
    font-family: var(--font-family-mulish);
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: var(--heading-color);
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.proffer-main-price {
    font-family: var(--font-family-mulish);
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: var(--striking-color);
    margin-top: 0;
    margin-bottom: 13px;
    display: inline-block;
}

.proffer-main-direction {
    font-family: var(--font-family-mulish);
    line-height: 26px;
    display: flex;
    align-items: center;
}

.proffer-main-direction::after {
    content: "";
    background-image: url("../img/proffer-direction.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    width: 11px;
    height: 9px;
    margin-left: 3px;
}

.proffer-omissible-wrapper {
    display: flex;
    flex-direction: column;
}

.proffer-omissible {
    width: 485px;
    padding: 30px 25px 120px;
}

.proffer-omissible:first-child {
    margin-bottom: 15px;
    background-image: url("../img/geometric-bookcase.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.proffer-omissible:last-child {
    background-image: url("../img/sofa-collections.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.proffer-omissible-heading {
    font-weight: 600;
}


/* TRENDING-SECTION */
.trending {
    padding-bottom: 120px;
}


/* OFFER-SECTION */
.offer {
    margin-bottom: 120px;
}

.offer-heading {
    margin-top: 0;
    margin-bottom: 60px;
    text-align: center;
}

.offer-cards {
    display: flex;
}

.offer-card {
    padding: 28px 24px;
    width: 570px;
}

.offer-card:first-child {
    background-image: url("../img/room-furniture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.offer-card:last-child {
    background-image: url("../img/modern-chair.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.offer-card:not(:last-child) {
    margin-right: 30px;
}

.offer-card-heading {
    font-family: var(--font-family-mulish);
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 22px;
    color: var(--heading-color);
    text-transform: capitalize;
}

.offer-card-paragraph {
    font-family: var(--font-family-mulish);
    margin-top: 0;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 22px;
}

.offer-card-price {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.product-card-price-wrapper {
    margin-right: 20px;
}

.offer-button {
    padding: 7px 10px;
    font-family: var(--font-family-mulish);
    font-weight: 700;
    font-size: 12px;
}

.offer-product-price-time {
    display: flex;
    align-items: center;
}

.offer-price-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 6px 10px;
    background-color: var(--striking-color);
    color: #fff;
}

.offer-price-circle:not(:last-child) {
    margin-right: 18px;
}

.offer-price-circle-number {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
}

.offer-price-circle-text {
    display: inline-block;
    font-size: 8px;
    text-transform: uppercase;
    line-height: 1.2;
}


/* PRODUCT-SECTION */
.product {
    padding-bottom: 120px;
}

.product-heading {
    margin-top: 0;
    margin-bottom: 45px;
    text-align: center;
}

.product-list {
    padding: 0;
    margin-top: 0;
    margin-bottom: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-item {
    list-style: none;
}

.product-item:not(:last-child) {
    margin-right: 65px;
}

.product-link {
    font-family: var(--font-family-mulish);
    font-weight: 600;
    text-decoration: none;
    color: #c2c2c2;
    font-size: 24px;
    text-transform: capitalize;
}

.product-link:focus {
    color: var(--striking-color);
}

/* PRODUCT-CARDS */
.product-cards {
    margin-left: -30px;
    margin-bottom: -45px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.product-card {
    margin: 0;
    margin-left: 30px;
    margin-bottom: 45px;
}

.product-card-img-text {
    display: inline-block;
    padding: 2px 8px;
    border-bottom-right-radius: 5px;
    background-color: var(--striking-color);
    color: var(--general-color);
    position: absolute;
}

.card-discount-blue {
    background-color: #00b7f1;
}

.card-discount-tomato {
    background-color: #ff6868;
}

.product-card-img {
    width: 270px;
    height: 288px;
    margin-bottom: 15px;
    object-fit: cover;
}

.product-card-name {
    font-family: var(--font-family-mulish);
    margin-bottom: 9px;
    color: #757575;
    font-size: 14px;
    line-height: 1.3;
    display: inline-block;
    text-align: left;
    text-transform: uppercase;
}

.product-card-heading {
    margin-top: 0;
    margin-bottom: 10px;
    color: #11142d;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

.product-card-price {
    display: flex;
    align-items: center;
}

.product-card-price-discount {
    font-family: var(--font-family-mulish);
    display: inline-block;
    margin-right: 7px;
    color: var(--striking-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
}

.product-card-price-real {
    font-family: var(--font-family-mulish);
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    text-decoration: line-through;
    color: #ccc;
    display: inline-block;
    margin-right: auto;
}


/* SITE-TESTIMONIALS */
.testimonials {
    padding-bottom: 120px;
}

.testimonials-heading {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
}

.testimonials-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials-navigation-icon-left,
.testimonials-navigation-icon-right {
    width: 76px;
    height: 76px;
}

.testimonials-navigation-icon-left {
    margin-right: 30px;
}

.testimonials-navigation-icon-right {
    margin-left: 30px;
}

.testimonials-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 820px;
    padding: 80px 125px 50px 125px;
    background-color: #f8fafb;
    border-radius: 8px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
}

.testimonials-img {
    width: 88px;
    height: 88px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 44px;
}

.testimonials-paragraph {
    font-family: var(--font-family-dm);
    margin-top: 0;
    margin-bottom: 32px;
    line-height: 1.5;
    color: #515151;
}

.testimonials-title {
    font-family: var(--font-family-mulish);
    margin-top: 0;
    margin-bottom: 8px;
    color: var(--heading-color);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
}

.testimonials-subtitle {
    line-height: 1.25;
    color: #515151;
    display: inline-block;
}


/* BLOG-SECTION */
.blog {
    padding-bottom: 120px;
}

.blog-heading {
    margin-top: 0;
    margin-bottom: 60px;
    text-align: center;
}

.blog-card-list {
    margin: 0;
    margin-left: -26px;
    margin-bottom: -22px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.blog-card-item-one,
.blog-card-item-two,
.blog-card-item-three,
.blog-card-item-four {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.blog-card-item-one {
    background-image: url("../img/minimal-sofa.jpeg");
}

.blog-card-item-two {
    background-image: url("../img/computer-table.jpeg");
}

.blog-card-item-three {
    background-image: url("../img/modern-bench.jpeg");
}

.blog-card-item-four {
    background-image: url("../img/summer-chair.jpeg");
}

.blog-card-item {
    width: 572px;
    margin-left: 26px;
    margin-bottom: 22px;
    border-radius: 8px;
}

.blog-card-content {
    padding-top: 252px;
    padding-bottom: 30px;
    margin-left: 45px;
}

.blog-card-date {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.blog-card-date-img {
    font-family: var(--font-family-dm);
    margin-right: 10px;
    padding: 5px;
    border-radius: 3px;
    color: var(--striking-color);
    background-color: #f8fafb;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.blog-card-date-img::before {
    content: "";
    width: 13px;
    height: 13px;
    margin-right: 3px;
    display: block;
    background-image: url("../img/shopping-icon.svg");
}

.blog-card-date-text {
    font-family: var(--font-family-mulish);
    font-size: 14px;
    line-height: 1.3;
    color: var(--general-color);
    display: inline-block;
}

.blog-card-title {
    font-family: var(--font-family-mulish);
    margin: 0;
    font-size: 40px;
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--general-color);
}

.blog-card-subtitle {
    font-family: var(--font-family-dm);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    color: var(--general-color);
    display: inline-block;
}


/* SITE-FOOTER */
.site-footer {
    padding-bottom: 10px;
}

.footer-about {
    display: flex;
    align-items: flex-start;
}

/* FOOTER-SOCIAL */
.footer-social {
    width: 320px;
}

/* FOOTER-LOGO */
.footer-logo {
    margin-bottom: 15px;
    display: block;
}

.footer-logo-img {
    display: block;
}

.footer-social {
    margin-right: 85px;
}

.footer-about-description {
    line-height: 32px;
    margin-bottom: 15px;
}

.footer-social-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-social-item:not(:last-child) {
    margin-right: 30px;
}

.footer-social-item {
    list-style: none;
}

.footer-social-item svg {
    color: var(--heading-color);
    display: block;
    width: 20px;
    height: 20px;
}

.footer-social-link {
    text-decoration: none;
}

.footer-social-icon {
    width: 32.5px;
    height: 32.5px;
    display: block;
}

/* FOOTER-LINKS */
.footer-links {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
}

.footer-links-list {
    padding: 0;
    margin: 0;
}

.footer-links-item {
    list-style: none;
}

.footer-links-item:first-child {
    font-weight: 500;
}

.footer-links-link {
    color: var(--heading-color);
    font-size: 18px;
    line-height: 40px;
    text-decoration: none;
    transition: color 0.5s ease;
}

.footer-links-link:hover {
    color: var(--striking-color);
}

/* FOOTER-LINE */
.footer-line {
    height: 1px;
    border: 0;
    margin-top: 50px;
    margin-bottom: 35px;
    background-color: #969696;
}

/* FOOTER-AUTHORSHIP  */
.footer-authorship {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.the-author span,
.the-support-link {
    font-size: 14px;
    color: var(--heading-color);
}

.the-support-list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.the-support-item {
    list-style: none;
}

.the-support-item:not(:last-child) {
    margin-right: 50px;
}

.the-support-link {
    text-decoration: none;
}


/* PROFFER-SECTION RETINA-BG */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .proffer-basic {
        background-image: url("../img/furniture-collections@2x.jpg");
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .proffer-omissible:first-child {
        background-image: url("../img/geometric-bookcase@2x.jpg");
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .proffer-omissible:last-child {
        background-image: url("../img/sofa-collections@2x.jpg");
    }
}

/* OFFER-SECTION RETINA-BG */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .offer-card:first-child {
        background-image: url("../img/room-furniture@2x.jpg");
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .offer-card:last-child {
        background-image: url("../img/modern-chair@2x.jpg");
    }
}

/* BLOG-SECTION RETINA-BG */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .blog-card-item-one {
        background-image: url("../img/minimal-sofa@2x.jpeg");
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .blog-card-item-two {
        background-image: url("../img/computer-table@2x.jpeg");
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .blog-card-item-three {
        background-image: url("../img/modern-bench@2x.jpeg");
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .blog-card-item-four {
        background-image: url("../img/summer-chair@2x.jpeg");
    }
}


/* MEDIA-QUERIES */
@media only screen and (max-width: 1000px) {
    /* OFFER-SECTION */
    .offer-cards {
        min-width: 700px;
        display: flex;
        flex-wrap: wrap;
    }

    .offer-card:first-child {
        margin-right: 0;
    }

    /* PROFFER-SECTION */
    .proffer-content {
        display: flex;
        flex-direction: column-reverse;
    }

    .proffer-basic {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .proffer-omissible {
        margin-bottom: 20px;
    }
}